<!DOCTYPE html>
<html lang="en">
<head>
	<title>StashIT</title>
	<meta charset="UTF-8">
    <meta name="description" content="Safely secure henyting">
    <meta name="keywords" content="StashIT,journal,secure,safe">
    <meta name="author" content="superrcoop">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<!-- This page represents the first load up page -->
	<h2>Hello WORLD</h2>
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>

</html>