{% extends "layout.html" %}

{% block main %}
<header class="masthead" id="login">
	<div class="container h-100">
		<div class="card card-container">
				<p id="profile-name" class="profile-name-card">Enter your new Password</p>
				{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endif %}
				{% if message %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endif %}
				<form class="form-signin" action="{{url_for('changePassword')}}" method="post">
					{{ form.csrf_token }}

					{{ form.password(class="form-control", placeholder="Enter a new password")}}
					{{ form.conf_password(class="form-control", placeholder="Re-enter password")}}

					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
				</form><!-- /form -->
				<a href="{{url_for('login')}}" class="forgot-password">
					 Submit &amp; Login
				</a>
				<a href="{{url_for('register')}}" class="forgot-password">
					 Create new account
				</a>
		</div><!-- /card-container -->
	</div><!-- /container -->
</header>

{%endblock%}