{% extends "dashboard.html" %}

{% block main %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Dashboard</a>
	</li>
	<li class="breadcrumb-item active">Recent</li>
</ol>
<div class="row">
	<div class="col-lg-12">
		<!-- Card Columns Example Social Feed-->
		<div class="mb-0 mt-4">
			<i class="far fa-newspaper"></i> Recently Stored</div>
		<hr class="mt-2">
		<div class="card-columns">
			<!-- Example Social Card-->
			<div class="card mb-3">
				<a href="#">
					<img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=610" alt="">
				</a>
				<div class="card-body">
					<h6 class="card-title mb-1"><a href="#">David Miller</a></h6>
					<p class="card-text small">These waves are looking pretty good today!
						<a href="#">#surfsup</a>
					</p>
				</div>
				<hr class="my-0">
				<div class="card-body py-2 small">
					<a class="d-inline-block" href="#">
						<i class="fa fa-fw fa-share"></i>Share</a>
				</div>
			</div>
			<!-- Example Social Card-->
			<div class="card mb-3">
				<a href="#">
					<img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=180" alt="">
				</a>
				<div class="card-body">
					<h6 class="card-title mb-1"><a href="#">John Smith</a></h6>
					<p class="card-text small">Another day at the office...
						<a href="#">#workinghardorhardlyworking</a>
					</p>
				</div>
				<hr class="my-0">
				<div class="card-body py-2 small">
					<a class="d-inline-block" href="#">
						<i class="fa fa-fw fa-share"></i>Share</a>
				</div>
			</div>
			<!-- Example Social Card-->
			<div class="card mb-3">
				<a href="#">
					<img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=281" alt="">
				</a>
				<div class="card-body">
					<h6 class="card-title mb-1"><a href="#">Jeffery Wellings</a></h6>
					<p class="card-text small">Nice shot from the skate park!
						<a href="#">#kickflip</a>
						<a href="#">#holdmybeer</a>
						<a href="#">#igotthis</a>
					</p>
				</div>
				<hr class="my-0">
				<div class="card-body py-2 small">
					<a class="d-inline-block" href="#">
						<i class="fa fa-fw fa-share"></i>Share
					</a>
				</div>
				<div class="card-footer small text-muted">Posted 1 hr ago</div>
			</div>
			<!-- Example Social Card-->
			<div class="card mb-3">
				<a href="#">
					<img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=185" alt="">
				</a>
				<div class="card-body">
					<h6 class="card-title mb-1"><a href="#">David Miller</a></h6>
					<p class="card-text small">It's hot, and I might be lost...
						<a href="#">#desert</a>
						<a href="#">#water</a>
						<a href="#">#anyonehavesomewater</a>
						<a href="#">#noreally</a>
						<a href="#">#thirsty</a>
						<a href="#">#dehydration</a>
					</p>
				</div>
				<hr class="my-0">
				<div class="card-body py-2 small">
					<a class="d-inline-block" href="#">
						<i class="fa fa-fw fa-share"></i>Share
					</a>
				</div>
			</div>
			<!-- /Card Columns-->
		</div>
	</div>
</div>
{% endblock %}
		