{% extends "layout.html" %}

{% block main %}

{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
      <header class="masthead" id="login">
  <div class="container h-100">

        <div class="card card-container">
            <p id="profile-name" class="profile-name-card">When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>

            <form class="form-signin" action="{{url_for('forgot_pass')}}" method="post">
            	{{ forgot_form.csrf_token }}
                <span id="reauth-email" class="reauth-email"></span>
                  {{ forgot_form.email(class="form-control" ,placeholder="Email")}}
                  <p class="help-block text-danger">{{ forgot_form.email.errors[0]}}</p>
                
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
            </form><!-- /form -->
            <a href="{{url_for('login')}}" class="forgot-password">
               Login
            </a>
            <a href="{{url_for('register')}}" class="forgot-password">
               Create new account
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
</header>

    {%endblock%}