
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#home"><img src="{{ url_for('static', filename='../static/icons/LOGOICON.png') }}"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
    <a class="nav-link js-scroll-trigger" href="#home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
    <a class="nav-link js-scroll-trigger" href="#features">Features</a>
      </li>

      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#sign-up">Get Started</a>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" data-target="#login" class=" nav-link btn btn-outline btn-sm ">LOGIN</a>
      </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login Modal-->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Login" below if you are ready to start your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{{ url_for('dashboard') }}">Login</a>
          </div>
        </div>
      </div>
    </div>

    
