{% extends "layout.html" %}

{% block main %}
<header class="masthead" id="login">
	<div class="container h-100">
		<div class="card card-container">
				<p id="profile-name" class="profile-name-card">The recovery code was sent to your email. Please provide it below</p>
				{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endif %}
				{% if message %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endif %}
				<form class="form-signin" action="{{url_for('recovery')}}" method="post">
					{{ form.csrf_token }}

					{{ form.email(class="form-control", placeholder="Email", value = email)}}

					{{ form.recover(class="form-control", placeholder="12345678")}}
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
				</form><!-- /form -->
				<a href="{{url_for('login')}}" class="forgot-password">
					 Login
				</a>
				<a href="{{url_for('register')}}" class="forgot-password">
					 Create new account
				</a>
		</div><!-- /card-container -->
	</div><!-- /container -->
</header>

{%endblock%}