{% extends "layout.html" %}

{% block main %}

<header class="masthead" id="login">
  <div class="container h-100">

        <div class="card card-container">
            
            <p id="profile-name" class="profile-name-card">Register an Account</p>

            <form class="form-signin" action="{{url_for('register')}}" method="post">
              {% if error %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endif %}
          	  {{ form.csrf_token }}
              <span id="reauth-email" class="reauth-email"></span>
                {{ form.first_name(class="form-control", placeholder="First name")}}
                <p class="help-block text-danger">{{ form.first_name.errors[0]}}</p>

                {{ form.last_name(class="form-control", placeholder="Last name")}}
                <p class="help-block text-danger">{{ form.first_name.errors[0]}}</p>

                {{ form.email(class="form-control", placeholder="example@example.com")}}
                <p class="help-block text-danger">{{ form.email.errors[0]}}</p>
                
                {{ form.username(class="form-control", placeholder="username")}}
                <p class="help-block text-danger">{{ form.email.errors[0]}}</p>

                {{ form.password(class="form-control", placeholder="enter a password")}}
                <p class="help-block text-danger">{{ form.password.errors[0]}}</p>

                {{ form.conf_password(class="form-control", placeholder="re-enter password")}}
                <p class="help-block text-danger">{{ form.conf_password.errors[0]}}</p>

                {{ form.recaptcha(class="form-control")}}
                <p class="help-block text-danger">{{ form.recaptcha.errors[0]}}</p>
               
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>

            </form><!-- /form -->
            <a href="{{url_for('login')}}" class="forgot-password">
               Already have an account
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
</header>
{%endblock%}
