{% extends "dashboard.html" %}

{% block title %}Template Not Found{% endblock %}
{% block css %}
<style type="text/css">
  body { padding-top: 70px; }
</style>
{% endblock %}

{% block main %}
{% if error %}
	<div class="alert alert-danger" role="alert">
	{{ error }}
	</div>
	{% endif %}
	{% if message %}
	<div class="alert alert-success" role="alert">
	{{ message }}
	</div>
	{% endif %}



<div class="row">
	<div class="col-lg-12">
		<!-- Settings -->
		<div class="mb-0 mt-4">
			<i class="fas fa-cog"></i> Settings (Account: {{current_user.first_name}})</div>
		<hr class="mt-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default "><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fas fa-caret-down"></i> Profile
		<hr class="mt-2"></a></div>
		<div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{current_user}}
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                
                <div class="panel panel-default ">
                    
                       
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fas fa-caret-down"></i> Account</div>
		<hr class="mt-2"></a>
                        
                    
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {% if not current_user.is_authenticated %}
	<form class="form-signin" action="{{url_for('settings')}}" method="post">
		{{ form.csrf_token }}
		<p>Authenticate your account to receive additionals features:</p>
			<div class="col-md-offset-5 col-md-6">
				
			{{ form.auth(class="form-control" ,placeholder="Enter your 6-Digit code")}}
			<p class="help-block text-danger">{{ form.auth.errors[0]}}</p>
			<button class="btn btn-sm btn-primary" type="submit">Authenticte Account</button>
			</div>
			
	</form><!-- /form -->
	{%else%}
	<p>Your account has been activated</p>

	{% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    
                       
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fas fa-caret-down"></i> About Stashtit</div>
		<hr class="mt-2"></a>
                        
                    
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
	<form class="form-signin" action="{{url_for('settings')}}" method="post">
		{{ form2.csrf_token }}
		<p>Send us feedback on our website:</p>
			<div class="col-md-offset-5 col-md-6">
				
			{{ form2.feedback(class="form-control",placeholder="What do you think of our website?")}}
			<p class="help-block text-danger">{{ form2.feedback.errors[0]}}</p>
			<button class="btn btn-sm btn-primary" type="submit">Submit Feedback</button>
			</div>
			
	</form><!-- /form -->
	<br><a class="twitter-timeline" href="https://twitter.com/stashitllc?ref_src=twsrc%5Etfw">Tweets</a> 
	
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
              </div>
                
            </div>
        </div>
    </div>




{% endblock %}